absl-py==1.4.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
aiobotocore==2.5.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
aiohttp==3.8.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
aioitertools==0.11.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
aiosignal==1.3.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
alembic==1.11.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
astunparse==1.6.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
async-timeout==4.0.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
attrs==23.1.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
blinker==1.6.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
boto3==1.26.76 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
botocore==1.29.76 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
cachetools==5.3.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
certifi==2023.5.7 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
charset-normalizer==3.1.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
click==8.1.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
cloudpickle==2.2.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
colorama==0.4.6 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0" and platform_system == "Windows"
contourpy==1.0.7 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
cycler==0.11.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
databricks-cli==0.17.7 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
docker==6.1.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
entrypoints==0.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
flask==2.3.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
flatbuffers==23.5.26 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
fonttools==4.39.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
frozenlist==1.3.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
fsspec==2023.5.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
gast==0.4.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
gitdb==4.0.10 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
gitpython==3.1.31 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
google-auth-oauthlib==1.0.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
google-auth==2.19.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
google-pasta==0.2.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
greenlet==2.0.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
grpcio==1.54.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
gunicorn==20.1.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0" and platform_system != "Windows"
h5py==3.8.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
idna==3.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
importlib-metadata==6.6.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
itsdangerous==2.1.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
jax==0.4.11 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
jinja2==3.1.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
jmespath==1.0.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
joblib==1.2.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
keras==2.12.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
kiwisolver==1.4.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
libclang==16.0.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
mako==1.2.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
markdown==3.4.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
markupsafe==2.1.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
matplotlib==3.7.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
ml-dtypes==0.2.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
mlflow==2.4.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
multidict==6.0.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
numpy==1.23.5 ; python_full_version >= "3.11.3" and python_version < "3.12"
oauthlib==3.2.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
opt-einsum==3.3.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
packaging==23.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pandas==2.0.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pillow==9.5.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
protobuf==4.23.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pyarrow==12.0.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pyasn1-modules==0.3.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pyasn1==0.5.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pyjwt==2.7.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pyparsing==3.0.9 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
python-dateutil==2.8.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pytz==2023.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
pywin32==306 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0" and sys_platform == "win32"
pyyaml==6.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
querystring-parser==1.2.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
requests-oauthlib==1.3.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
requests==2.31.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
rsa==4.9 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
s3fs==2023.5.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
s3transfer==0.6.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
scikit-learn==1.2.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
scipy==1.10.1 ; python_full_version >= "3.11.3" and python_version < "3.12"
setuptools==67.8.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
six==1.16.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
smmap==5.0.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
sqlalchemy==2.0.15 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
sqlparse==0.4.4 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
tabulate==0.9.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
tensorboard-data-server==0.7.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
tensorboard==2.12.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
tensorflow-estimator==2.12.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
tensorflow-io-gcs-filesystem==0.32.0 ; python_full_version >= "3.11.3" and python_version < "3.12"
tensorflow==2.12.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
termcolor==2.3.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
threadpoolctl==3.1.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
tqdm==4.65.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
typing-extensions==4.6.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
tzdata==2023.3 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
urllib3==1.26.16 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
waitress==2.1.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0" and platform_system == "Windows"
websocket-client==1.5.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
werkzeug==2.3.5 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
wheel==0.40.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
wrapt==1.14.1 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
yarl==1.9.2 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
zipp==3.15.0 ; python_full_version >= "3.11.3" and python_full_version < "3.12.0"
